@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Mono:wght@100&display=swap");

.App {
  text-align: center;
  max-width: 100%;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  overflow-y: auto;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

@media only screen and (max-width: 1026px) {
  .icons {
    display: none;
  }
}